html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.loader-holder {
  width: 40px;
  height: 40px;
  animation: grow 1s, opacity 1.5s;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes opacity {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}